# Dependencias
node_modules/

# Archivos de log
logs
*.log
npm-debug.log*

# Directorio de build
dist/

# Archivos de ambiente
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDE y editores
.idea/
.vscode/
*.swp
*.swo

# Archivos de cobertura de tests
coverage/

# Archivos temporales
tmp/
temp/

# Archivos de datos
data/*.json